# Ignore node_modules directory
node_modules/

# Ignore compiled files
*.class
*.war
*.ear

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Airbnb_env folder
Airbnb_env/
